In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snb
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score,root_mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split,KFold,LeaveOneOut
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC

In [2]:
df = pd.read_csv("house_prices_dataset.csv")
display(df.head())

# display(df.info())

# print(df.isnull().sum())

df_encoded  = pd.get_dummies(df,columns=["Neighborhood"],drop_first=True)
display(df_encoded.info())

   SquareFootage  Bedrooms  Bathrooms  HouseAge Neighborhood   Price
0           3974         4        1.9        36       Suburb  500100
1           1660         5        1.1        23      Midtown  285600
2           2094         1        2.8        92       Uptown  283800
3           1930         5        2.5        45       Uptown  322000
4           1895         5        1.2        52    Chinatown  301900

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   SquareFootage          100 non-null    int64
 1   Bedrooms               100 non-null    int64
 2   Bathrooms              100 non-null    float64
 3   HouseAge               100 non-null    int64
 4   Price                  100 non-null    int64
 5   Neighborhood_Downtown  100 non-null    bool
 6   Neighborhood_Midtown   100 non-null    bool
 7   Neighborhood_Suburb    100 non-null    bool
 8   Neighborhood_Uptown    100 non-null    bool
dtypes: bool(4), float64(1), int64(4)
memory usage: 4.4 KB

None

In [3]:
# Correct dummy encoding for the test sample
test_sample = {
    "SquareFootage": 2500,
    "Bedrooms": 4,
    "Bathrooms": 2.5,
    "HouseAge": 10,
    "Neighborhood": "Uptown"
}

# Convert to DataFrame
test = pd.DataFrame([test_sample])

#When Categorical Column Have Null Value
# df['Neighborhood'] = df['Neighborhood'].fillna(df['Neighborhood'].mode()[0])


# When Too many columns have NULL Values
# Or fill with forward-fill or backward-fill
# df = df.fillna(method='ffill')  # Forward fill
# df = df.fillna(method='bfill')  # Backward fill


# One-hot encode the test sample
test = pd.get_dummies(test, columns=["Neighborhood"], drop_first=True)

# Align test columns with training columns (fill missing columns with 0)
for col in df_encoded.columns:
    if col not in test.columns and col != "Price":
        test[col] = 0

# print(test)
# Reorder columns to match training data
test = test[df_encoded.drop(columns="Price").columns]
# print(test)

In [4]:
LR = LinearRegression()
y = df_encoded.pop("Price")
X_train,X_test,Y_train,Y_test = train_test_split(df_encoded,y,test_size=0.2,random_state=42)
LR.fit(X_train,Y_train)
Y_pred = LR.predict(X_test)

rmse = root_mean_squared_error(Y_test, Y_pred)
r2 = r2_score(Y_test, Y_pred)

print(f"RMSE: {rmse}, R2 Score: {r2:.2f}")

RMSE: 4781.120962581745, R2 Score: 1.00

In [5]:
predicted_price = LR.predict(test)
print(f"Predicted Price: ${predicted_price[0]:,.2f}")

Predicted Price: $377,125.83